/* 页面铺满屏幕 */
.page-fill {
	width:100%;
	height: 100%;
	/* background-color: #B3E5FC; */
	background-color: #FFFFFF;
	position: absolute;
}


.settings {
	width: 40upx;
	height: 40upx;
}
/* 头部个人信息 end */

.category-title1 {
	font-size: 30rpx;
	background-color: #03A9F4;
	color: #FFFFFF;
}

.category-title2 {
	font-size: 30rpx;
	background-color: #00BCD4;
	color: #FFFFFF;
}
.text {
	font-size: 24rpx;
	text-align: center;
}