

/* 电池型数据 start */


.table {
	box-sizing: border-box;
	padding: 20rpx;
}

.dtu-block {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 40%;
	margin: 5rpx 10rpx;
}

.title-text {
	font-size: 24rpx;
	padding: 10rpx;
	padding-right: 20rpx;
	background-color: #c1f5f5;
	color: #085f73;
	text-align: right;
}

.value-text {
	font-size: 24rpx;
	padding: 10rpx;
	padding-left: 20rpx;
	height: 100%;
	background-color: #c1f5f5;
	color: #085f73;
	text-align: left;
	display: flex;
	align-items: center;
}

.value {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 55%;
	margin: 5rpx 0;
}

.dc-name {
	margin-top: 110upx;
}

/* 电池型数据 end */
